<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

<section name="FS.Farm.Reports.FarmReportProvider" type="FS.Farm.Reports.Providers.FarmReportProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.TriStateFilterProvider" type="FS.Farm.Providers.TriStateFilterProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.TacProvider" type="FS.Farm.Providers.TacProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.RoleProvider" type="FS.Farm.Providers.RoleProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.PlantProvider" type="FS.Farm.Providers.PlantProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.PacProvider" type="FS.Farm.Providers.PacProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.OrgCustomerProvider" type="FS.Farm.Providers.OrgCustomerProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.OrgApiKeyProvider" type="FS.Farm.Providers.OrgApiKeyProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.OrganizationProvider" type="FS.Farm.Providers.OrganizationProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.LandProvider" type="FS.Farm.Providers.LandProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.FlavorProvider" type="FS.Farm.Providers.FlavorProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.ErrorLogProvider" type="FS.Farm.Providers.ErrorLogProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.DynaFlowTypeScheduleProvider" type="FS.Farm.Providers.DynaFlowTypeScheduleProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.DynaFlowTypeProvider" type="FS.Farm.Providers.DynaFlowTypeProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.DynaFlowTaskTypeProvider" type="FS.Farm.Providers.DynaFlowTaskTypeProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.DynaFlowTaskProvider" type="FS.Farm.Providers.DynaFlowTaskProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.DynaFlowProvider" type="FS.Farm.Providers.DynaFlowProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.DFTDependencyProvider" type="FS.Farm.Providers.DFTDependencyProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.DFMaintenanceProvider" type="FS.Farm.Providers.DFMaintenanceProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.DateGreaterThanFilterProvider" type="FS.Farm.Providers.DateGreaterThanFilterProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.CustomerRoleProvider" type="FS.Farm.Providers.CustomerRoleProviderConfigurationHandler, FS.Farm"/>

<section name="FS.Farm.CustomerProvider" type="FS.Farm.Providers.CustomerProviderConfigurationHandler, FS.Farm"/>

  </configSections>

<FS.Farm.Reports.FarmReportProvider defaultProvider="Sql">
    <providers>
      <clear/>
      <add name="Sql" type="FS.Farm.Reports.Providers.SqlServer.SqlFarmReportProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="Pg" type="FS.Farm.Reports.Providers.Postgres.PgFarmReportProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
      <add name="MySql" type="FS.Farm.Reports.Providers.MySql.MySqlFarmReportProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
      <add name="EF7" type="FS.Farm.Reports.Providers.EF7.EF7FarmReportProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
    </providers>
</FS.Farm.Reports.FarmReportProvider>

<FS.Farm.TriStateFilterProvider defaultProvider="Sql" cacheAll="true" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="false" lazyUpdate="false" lazyDelete="false" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
    <providers>
      <clear/>
      <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlTriStateFilterProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="Pg" type="FS.Farm.Providers.Postgres.PgTriStateFilterProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
      <add name="MySql" type="FS.Farm.Providers.MySql.MySqlTriStateFilterProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
      <add name="Redis" type="FS.Farm.Providers.Redis.RedisTriStateFilterProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
      <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoTriStateFilterProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
      <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseTriStateFilterProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
      <add name="File" type="FS.Farm.Providers.File.FileTriStateFilterProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="EF7" type="FS.Farm.Providers.EF7.EF7TriStateFilterProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
    </providers>
</FS.Farm.TriStateFilterProvider>

<FS.Farm.TacProvider defaultProvider="Sql" cacheAll="true" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="false" lazyUpdate="false" lazyDelete="false" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
    <providers>
      <clear/>
      <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlTacProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="Pg" type="FS.Farm.Providers.Postgres.PgTacProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
      <add name="MySql" type="FS.Farm.Providers.MySql.MySqlTacProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
      <add name="Redis" type="FS.Farm.Providers.Redis.RedisTacProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
      <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoTacProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
      <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseTacProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
      <add name="File" type="FS.Farm.Providers.File.FileTacProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="EF7" type="FS.Farm.Providers.EF7.EF7TacProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
    </providers>
</FS.Farm.TacProvider>

<FS.Farm.RoleProvider defaultProvider="Sql" cacheAll="true" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="false" lazyUpdate="false" lazyDelete="false" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
    <providers>
      <clear/>
      <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlRoleProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="Pg" type="FS.Farm.Providers.Postgres.PgRoleProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
      <add name="MySql" type="FS.Farm.Providers.MySql.MySqlRoleProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
      <add name="Redis" type="FS.Farm.Providers.Redis.RedisRoleProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
      <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoRoleProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
      <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseRoleProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
      <add name="File" type="FS.Farm.Providers.File.FileRoleProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="EF7" type="FS.Farm.Providers.EF7.EF7RoleProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
    </providers>
</FS.Farm.RoleProvider>

<FS.Farm.PlantProvider defaultProvider="Sql" cacheAll="false" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="true" lazyUpdate="true" lazyDelete="true" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
  <providers>
    <clear/>
    <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlPlantProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="Pg" type="FS.Farm.Providers.Postgres.PgPlantProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
    <add name="MySql" type="FS.Farm.Providers.MySql.MySqlPlantProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
    <add name="Redis" type="FS.Farm.Providers.Redis.RedisPlantProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
    <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoPlantProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
    <add name="Firebase" type="FS.Farm.Providers.FireDB.FbasePlantProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
    <add name="File" type="FS.Farm.Providers.File.FilePlantProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="EF7" type="FS.Farm.Providers.EF7.EF7PlantProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
  </providers>
</FS.Farm.PlantProvider>

<FS.Farm.PacProvider defaultProvider="Sql" cacheAll="true" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="false" lazyUpdate="false" lazyDelete="false" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
    <providers>
      <clear/>
      <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlPacProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="Pg" type="FS.Farm.Providers.Postgres.PgPacProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
      <add name="MySql" type="FS.Farm.Providers.MySql.MySqlPacProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
      <add name="Redis" type="FS.Farm.Providers.Redis.RedisPacProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
      <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoPacProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
      <add name="Firebase" type="FS.Farm.Providers.FireDB.FbasePacProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
      <add name="File" type="FS.Farm.Providers.File.FilePacProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="EF7" type="FS.Farm.Providers.EF7.EF7PacProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
    </providers>
</FS.Farm.PacProvider>

<FS.Farm.OrgCustomerProvider defaultProvider="Sql" cacheAll="false" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="true" lazyUpdate="true" lazyDelete="true" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
  <providers>
    <clear/>
    <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlOrgCustomerProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="Pg" type="FS.Farm.Providers.Postgres.PgOrgCustomerProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
    <add name="MySql" type="FS.Farm.Providers.MySql.MySqlOrgCustomerProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
    <add name="Redis" type="FS.Farm.Providers.Redis.RedisOrgCustomerProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
    <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoOrgCustomerProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
    <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseOrgCustomerProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
    <add name="File" type="FS.Farm.Providers.File.FileOrgCustomerProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="EF7" type="FS.Farm.Providers.EF7.EF7OrgCustomerProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
  </providers>
</FS.Farm.OrgCustomerProvider>

<FS.Farm.OrgApiKeyProvider defaultProvider="Sql" cacheAll="false" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="true" lazyUpdate="true" lazyDelete="true" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
  <providers>
    <clear/>
    <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlOrgApiKeyProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="Pg" type="FS.Farm.Providers.Postgres.PgOrgApiKeyProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
    <add name="MySql" type="FS.Farm.Providers.MySql.MySqlOrgApiKeyProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
    <add name="Redis" type="FS.Farm.Providers.Redis.RedisOrgApiKeyProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
    <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoOrgApiKeyProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
    <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseOrgApiKeyProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
    <add name="File" type="FS.Farm.Providers.File.FileOrgApiKeyProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="EF7" type="FS.Farm.Providers.EF7.EF7OrgApiKeyProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
  </providers>
</FS.Farm.OrgApiKeyProvider>

<FS.Farm.OrganizationProvider defaultProvider="Sql" cacheAll="false" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="true" lazyUpdate="true" lazyDelete="true" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
  <providers>
    <clear/>
    <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlOrganizationProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="Pg" type="FS.Farm.Providers.Postgres.PgOrganizationProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
    <add name="MySql" type="FS.Farm.Providers.MySql.MySqlOrganizationProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
    <add name="Redis" type="FS.Farm.Providers.Redis.RedisOrganizationProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
    <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoOrganizationProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
    <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseOrganizationProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
    <add name="File" type="FS.Farm.Providers.File.FileOrganizationProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="EF7" type="FS.Farm.Providers.EF7.EF7OrganizationProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
  </providers>
</FS.Farm.OrganizationProvider>

<FS.Farm.LandProvider defaultProvider="Sql" cacheAll="true" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="false" lazyUpdate="false" lazyDelete="false" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
    <providers>
      <clear/>
      <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlLandProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="Pg" type="FS.Farm.Providers.Postgres.PgLandProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
      <add name="MySql" type="FS.Farm.Providers.MySql.MySqlLandProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
      <add name="Redis" type="FS.Farm.Providers.Redis.RedisLandProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
      <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoLandProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
      <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseLandProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
      <add name="File" type="FS.Farm.Providers.File.FileLandProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="EF7" type="FS.Farm.Providers.EF7.EF7LandProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
    </providers>
</FS.Farm.LandProvider>

<FS.Farm.FlavorProvider defaultProvider="Sql" cacheAll="true" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="false" lazyUpdate="false" lazyDelete="false" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
    <providers>
      <clear/>
      <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlFlavorProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="Pg" type="FS.Farm.Providers.Postgres.PgFlavorProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
      <add name="MySql" type="FS.Farm.Providers.MySql.MySqlFlavorProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
      <add name="Redis" type="FS.Farm.Providers.Redis.RedisFlavorProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
      <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoFlavorProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
      <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseFlavorProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
      <add name="File" type="FS.Farm.Providers.File.FileFlavorProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="EF7" type="FS.Farm.Providers.EF7.EF7FlavorProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
    </providers>
</FS.Farm.FlavorProvider>

<FS.Farm.ErrorLogProvider defaultProvider="Sql" cacheAll="false" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="true" lazyUpdate="true" lazyDelete="true" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
  <providers>
    <clear/>
    <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlErrorLogProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="Pg" type="FS.Farm.Providers.Postgres.PgErrorLogProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
    <add name="MySql" type="FS.Farm.Providers.MySql.MySqlErrorLogProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
    <add name="Redis" type="FS.Farm.Providers.Redis.RedisErrorLogProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
    <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoErrorLogProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
    <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseErrorLogProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
    <add name="File" type="FS.Farm.Providers.File.FileErrorLogProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="EF7" type="FS.Farm.Providers.EF7.EF7ErrorLogProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
  </providers>
</FS.Farm.ErrorLogProvider>

<FS.Farm.DynaFlowTypeScheduleProvider defaultProvider="Sql" cacheAll="false" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="true" lazyUpdate="true" lazyDelete="true" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
  <providers>
    <clear/>
    <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlDynaFlowTypeScheduleProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="Pg" type="FS.Farm.Providers.Postgres.PgDynaFlowTypeScheduleProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
    <add name="MySql" type="FS.Farm.Providers.MySql.MySqlDynaFlowTypeScheduleProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
    <add name="Redis" type="FS.Farm.Providers.Redis.RedisDynaFlowTypeScheduleProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
    <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoDynaFlowTypeScheduleProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
    <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseDynaFlowTypeScheduleProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
    <add name="File" type="FS.Farm.Providers.File.FileDynaFlowTypeScheduleProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="EF7" type="FS.Farm.Providers.EF7.EF7DynaFlowTypeScheduleProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
  </providers>
</FS.Farm.DynaFlowTypeScheduleProvider>

<FS.Farm.DynaFlowTypeProvider defaultProvider="Sql" cacheAll="true" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="false" lazyUpdate="false" lazyDelete="false" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
    <providers>
      <clear/>
      <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlDynaFlowTypeProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="Pg" type="FS.Farm.Providers.Postgres.PgDynaFlowTypeProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
      <add name="MySql" type="FS.Farm.Providers.MySql.MySqlDynaFlowTypeProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
      <add name="Redis" type="FS.Farm.Providers.Redis.RedisDynaFlowTypeProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
      <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoDynaFlowTypeProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
      <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseDynaFlowTypeProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
      <add name="File" type="FS.Farm.Providers.File.FileDynaFlowTypeProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="EF7" type="FS.Farm.Providers.EF7.EF7DynaFlowTypeProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
    </providers>
</FS.Farm.DynaFlowTypeProvider>

<FS.Farm.DynaFlowTaskTypeProvider defaultProvider="Sql" cacheAll="true" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="false" lazyUpdate="false" lazyDelete="false" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
    <providers>
      <clear/>
      <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlDynaFlowTaskTypeProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="Pg" type="FS.Farm.Providers.Postgres.PgDynaFlowTaskTypeProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
      <add name="MySql" type="FS.Farm.Providers.MySql.MySqlDynaFlowTaskTypeProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
      <add name="Redis" type="FS.Farm.Providers.Redis.RedisDynaFlowTaskTypeProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
      <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoDynaFlowTaskTypeProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
      <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseDynaFlowTaskTypeProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
      <add name="File" type="FS.Farm.Providers.File.FileDynaFlowTaskTypeProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="EF7" type="FS.Farm.Providers.EF7.EF7DynaFlowTaskTypeProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
    </providers>
</FS.Farm.DynaFlowTaskTypeProvider>

<FS.Farm.DynaFlowTaskProvider defaultProvider="Sql" cacheAll="false" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="true" lazyUpdate="true" lazyDelete="true" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
  <providers>
    <clear/>
    <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlDynaFlowTaskProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="Pg" type="FS.Farm.Providers.Postgres.PgDynaFlowTaskProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
    <add name="MySql" type="FS.Farm.Providers.MySql.MySqlDynaFlowTaskProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
    <add name="Redis" type="FS.Farm.Providers.Redis.RedisDynaFlowTaskProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
    <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoDynaFlowTaskProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
    <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseDynaFlowTaskProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
    <add name="File" type="FS.Farm.Providers.File.FileDynaFlowTaskProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="EF7" type="FS.Farm.Providers.EF7.EF7DynaFlowTaskProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
  </providers>
</FS.Farm.DynaFlowTaskProvider>

<FS.Farm.DynaFlowProvider defaultProvider="Sql" cacheAll="false" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="true" lazyUpdate="true" lazyDelete="true" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
  <providers>
    <clear/>
    <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlDynaFlowProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="Pg" type="FS.Farm.Providers.Postgres.PgDynaFlowProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
    <add name="MySql" type="FS.Farm.Providers.MySql.MySqlDynaFlowProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
    <add name="Redis" type="FS.Farm.Providers.Redis.RedisDynaFlowProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
    <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoDynaFlowProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
    <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseDynaFlowProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
    <add name="File" type="FS.Farm.Providers.File.FileDynaFlowProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="EF7" type="FS.Farm.Providers.EF7.EF7DynaFlowProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
  </providers>
</FS.Farm.DynaFlowProvider>

<FS.Farm.DFTDependencyProvider defaultProvider="Sql" cacheAll="false" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="true" lazyUpdate="true" lazyDelete="true" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
  <providers>
    <clear/>
    <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlDFTDependencyProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="Pg" type="FS.Farm.Providers.Postgres.PgDFTDependencyProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
    <add name="MySql" type="FS.Farm.Providers.MySql.MySqlDFTDependencyProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
    <add name="Redis" type="FS.Farm.Providers.Redis.RedisDFTDependencyProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
    <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoDFTDependencyProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
    <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseDFTDependencyProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
    <add name="File" type="FS.Farm.Providers.File.FileDFTDependencyProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="EF7" type="FS.Farm.Providers.EF7.EF7DFTDependencyProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
  </providers>
</FS.Farm.DFTDependencyProvider>

<FS.Farm.DFMaintenanceProvider defaultProvider="Sql" cacheAll="false" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="true" lazyUpdate="true" lazyDelete="true" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
  <providers>
    <clear/>
    <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlDFMaintenanceProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="Pg" type="FS.Farm.Providers.Postgres.PgDFMaintenanceProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
    <add name="MySql" type="FS.Farm.Providers.MySql.MySqlDFMaintenanceProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
    <add name="Redis" type="FS.Farm.Providers.Redis.RedisDFMaintenanceProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
    <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoDFMaintenanceProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
    <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseDFMaintenanceProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
    <add name="File" type="FS.Farm.Providers.File.FileDFMaintenanceProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="EF7" type="FS.Farm.Providers.EF7.EF7DFMaintenanceProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
  </providers>
</FS.Farm.DFMaintenanceProvider>

<FS.Farm.DateGreaterThanFilterProvider defaultProvider="Sql" cacheAll="true" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="false" lazyUpdate="false" lazyDelete="false" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
    <providers>
      <clear/>
      <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlDateGreaterThanFilterProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="Pg" type="FS.Farm.Providers.Postgres.PgDateGreaterThanFilterProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
      <add name="MySql" type="FS.Farm.Providers.MySql.MySqlDateGreaterThanFilterProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
      <add name="Redis" type="FS.Farm.Providers.Redis.RedisDateGreaterThanFilterProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
      <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoDateGreaterThanFilterProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
      <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseDateGreaterThanFilterProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
      <add name="File" type="FS.Farm.Providers.File.FileDateGreaterThanFilterProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
      <add name="EF7" type="FS.Farm.Providers.EF7.EF7DateGreaterThanFilterProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
    </providers>
</FS.Farm.DateGreaterThanFilterProvider>

<FS.Farm.CustomerRoleProvider defaultProvider="Sql" cacheAll="false" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="true" lazyUpdate="true" lazyDelete="true" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
  <providers>
    <clear/>
    <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlCustomerRoleProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="Pg" type="FS.Farm.Providers.Postgres.PgCustomerRoleProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
    <add name="MySql" type="FS.Farm.Providers.MySql.MySqlCustomerRoleProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
    <add name="Redis" type="FS.Farm.Providers.Redis.RedisCustomerRoleProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
    <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoCustomerRoleProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
    <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseCustomerRoleProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
    <add name="File" type="FS.Farm.Providers.File.FileCustomerRoleProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="EF7" type="FS.Farm.Providers.EF7.EF7CustomerRoleProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
  </providers>
</FS.Farm.CustomerRoleProvider>

<FS.Farm.CustomerProvider defaultProvider="Sql" cacheAll="false" cacheIndividual="false" cacheLifetimeInMinutes="60" maxCacheCount="1000" lazyInsert="true" lazyUpdate="true" lazyDelete="true" raiseEventOnInsert="false" raiseEventOnUpdate="false" raiseEventOnDelete="false" isMirrorActive="false">
  <providers>
    <clear/>
    <add name="Sql" type="FS.Farm.Providers.SqlServer.SqlCustomerProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="Pg" type="FS.Farm.Providers.Postgres.PgCustomerProvider, FS.Farm" connectionStringName="Postgres_FS_Farm_ConnectionString"/>
    <add name="MySql" type="FS.Farm.Providers.MySql.MySqlCustomerProvider, FS.Farm" connectionStringName="MySql_FS_Farm_ConnectionString"/>
    <add name="Redis" type="FS.Farm.Providers.Redis.RedisCustomerProvider, FS.Farm" connectionStringName="Redis_FS_Farm_ConnectionString"/>
    <add name="Mongo" type="FS.Farm.Providers.Mongo.MongoCustomerProvider, FS.Farm" connectionStringName="Mongo_FS_Farm_ConnectionString"/>
    <add name="Firebase" type="FS.Farm.Providers.FireDB.FbaseCustomerProvider, FS.Farm" connectionStringName="Firebase_FS_Farm_ConnectionString"/>
    <add name="File" type="FS.Farm.Providers.File.FileCustomerProvider, FS.Farm" connectionStringName="Sql_FS_Farm_ConnectionString"/>
    <add name="EF7" type="FS.Farm.Providers.EF7.EF7CustomerProvider, FS.Farm" connectionStringName="EF7_FS_Farm_ConnectionString"/>
  </providers>
</FS.Farm.CustomerProvider>

</configuration>