<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Sql_FS_Farm_ConnectionString" connectionString="Server=tcp:derivative-programming-farm.database.windows.net,1433;Initial Catalog=dp_farm;Persist Security Info=False;User ID=farm_user;Password=dfogijn2LSDFUILJFL2N234023SLKDFSD;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Sql_FS_Auth_ConnectionString" connectionString="Server=tcp:derivative-programming-farm.database.windows.net,1433;Initial Catalog=dp_farm;Persist Security Info=False;User ID=farm_user;Password=dfogijn2LSDFUILJFL2N234023SLKDFSD;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <appSettings>
    <add key="environment" value="prod" />
    <add key="FS.StringCacheProvider" value="InMemory" />
    <add key="ApplicationLog.AzureCloud.Enabled" value="true" />
    <add key="ApplicationLog.AzureCloud.MaximumLoggableSeverity" value="13" />
    <add key="ApplicationLog.Broadcast.Enabled" value="true" />
    <add key="ApplicationLog.Broadcast.MaximumLoggableSeverity" value="13" />
    <add key="Redis.Connection" value="derivative-programming-dev.redis.cache.windows.net:6380,password=lofJoMYStims6YaOMLKvhlcePgJASYuw6rrVZkqqpcE=,ssl=True,abortConnect=False" />
    <add key="stripe.publickey" value="pk_test_Fzm7s0vtMX5RXdd3YbR4DtJ400vLfa75tJ" />
  </appSettings>
</configuration>