<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="apiBaseUrl" value="https://dp-farm-pageapi.azurewebsites.net/api/v1_0" />
    <add key="StringCacheProvider" value="InMemory" />
    <add key="Redis.Connection" value="" />
    <add key="Redis.DBNumber" value="1" />
  </appSettings>
</configuration>