<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings> 
  </connectionStrings>
  <appSettings>
    <add key="environment" value="dev" />
    <add key="ND.StringCacheProvider" value="InMemory" />
    <add key="ApplicationLog.AzureCloud.Enabled" value="true" />
    <add key="ApplicationLog.AzureCloud.MaximumLoggableSeverity" value="1" />
    <add key="ApplicationLog.Broadcast.Enabled" value="true" />
    <add key="ApplicationLog.Broadcast.MaximumLoggableSeverity" value="13" />
    <add key="Redis.Connection" value="9dozmlredisdev.redis.cache.windows.net:6380,password=EdEmkaLWcWGCqjXuv+rnfprbO77fCrbVVkJ7OS1UO1E=,ssl=True" />
  </appSettings>
</configuration>